@tailwind base;
@tailwind components;
@tailwind utilities;


/* Reset CSS */
body{
    background: #e8e8e8;
}

/* Ajustes generales */
*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Reiniciar estilos de elementos específicos */
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
figure,
blockquote,
dl,
dd {
    margin: 0;
    padding: 0;
}

/* Reiniciar estilos de elementos específicos */
ul,
ol {
    list-style: none;
}

/* Ajustes de tipografía */
body {
    font-family: Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5;
}

/* Otras configuraciones */
img {
    display: block;
    max-width: 100%;
    height: auto;
}

/* Estilo para la barra de desplazamiento */
::-webkit-scrollbar {
    width: 9px; /* Ancho de la barra */
    background-color: #e8e8e8; /* Color de fondo */
    border-radius: 13px; /* Radio del borde */
  }
  
  /* Estilo para el thumb del scrollbar */
  ::-webkit-scrollbar-thumb {
    background-color: rgb(0, 174, 255); /* Color del thumb */
    border-radius: 13px; /* Radio del borde */
  }
  
  /* Estilo para el track del scrollbar */
  ::-webkit-scrollbar-track {
    background-color: #e8e8e8; /* Color del track */
  }
  