
.hm-header{
  transition: all .4s ease-in;
    background: red;
    line-height: 64px;
    transition: all .6s ease-in-out;
    box-sizing: border-box;
    background: rgb(20,20,20);
    background: linear-gradient(135deg, rgba(20,20,20,1) 0%, rgba(0,0,0,1) 100%); 
    border-radius: 0 0 26px 26px ;
    box-shadow: 0px 0px 26px -8px rgba(0,0,0,0.75);
}

@media screen and (min-width: 500px){
  .hm-header{ border-radius: 0px;}
}

.container{
  height: 100%;
  max-width: 1200px;
  margin-inline: auto;
}

.sup-gradient{
  width: 100%;
    height: .3rem;
    background: rgb(231,245,133);
    background: linear-gradient(90deg, rgba(231,245,133,1) 0%, rgba(255,253,45,1) 26%, rgba(253,205,29,1) 50%, rgba(252,92,92,1) 100%);
}

.header-menu{
  width: 100%;
  padding: 1rem;
  height: 100%;
  max-width: 1000px;
  display: flex;
  flex-direction: column;
  margin-inline: auto;
}

.BurgMenuCart{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.hm-logo{
  display: flex;
  flex-direction: row;
}

.hm-logo button{
  width: 2rem;
  background: none;
  border: none;
}

.hm-logo button img{
  width: 100%;
  filter: invert(100%);
}

.hm-logo .logoHenryImg{
  width: 9.4rem;
  height: 1.8rem;
}

.hm-menu{
  display: flex;
    position: relative;
    align-items: center;  
}

.hm-menu ul li a{
  text-decoration: none;
  color: #fff;
  font-size: 15px;
  margin-right: 30px;
  display: inline-block;
}

.hm-menu .icon-cart{
  display: flex ;
  align-items:center;
  justify-content: center;
  gap: 2%;
}

.hm-menu .icon-cart button{
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  gap: 3px;
}

.hm-menu .icon-cart button img{
  filter: invert(100%);
  height: 23px;
}

.hm-menu .icon-cart button span{
  color: #fff;
}

.hm-ul{
  display: flex;
}

.hm-ul .offerLink{
  display: flex;
  gap: .4rem;
  flex-direction: row;
  color: #f63120;
  align-items: center;
}

.hm-ul .offerStar{
  width: .9rem;
  height: .9rem;
}

@media screen and (max-width: 700px) {
  .hm-ul {display: none;}
}

.hm-mobilebutton{
  display: none;
}

@media screen and (max-width: 700px) {
  .hm-mobilebutton{display: block;}
}

/* hgbbbbbbbbbbbgggggggggggggggggggggggggggg */
.searchBox {
    display: flex;
    max-width: 230px;
    align-items: center;
    justify-content: space-between;
    gap: 8px;
    background: #ebebeb;
    border-radius: 50px;
    position: relative;
    max-height: 2.1rem;
  }
  
  .searchButton {
    color: white;
    position: absolute;
    right: 3.9px;
    width: 46px;
    height: 26.5px;
    border-radius: 17px;
    background: var(--gradient-2, linear-gradient(90deg, #242424 0%, #000000 100%));
    border: 0;
    display: inline-block;
    transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
  }

  .searchButton svg{
    width: 17px;
    shape-rendering: smooth;
    margin-inline: auto;
  }

    /*hover effect*/
  button:hover {
    color: #0b0b0b;
    background-color: #d0d0d0;
    box-shadow: rgba(0, 0, 0, 0.5) 0 10px 20px;
    transform: translateY(-3px);
  }
  /*button pressing effect*/
  button:active {
    box-shadow: none;
    transform: translateY(0);
  }
  
  .searchInput {
    border: none;
    background: none;
    outline: none;
    color: white;
    font-size: 15px;
    padding-left: 10px;
  } 
  
  .searchCategory{
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  .login-button{
    width: 5rem;
    transition: all .1s ease;
    border-radius: 21px;
    background: rgb(126,255,135);
    background: linear-gradient(225deg, rgba(126,255,135,1) 0%, rgba(35,255,90,1) 100%);
    border: 1px solid #a5ff78; 
    height: 2rem;
    padding-inline-start: 10px;
    text-align: center;
    align-items: center;
      margin-left: 1rem;
  }
  
  .logout-button{
    width: 5rem;
    transition: all .1s ease;
    border-radius: 21px;
    background: rgb(255,98,130);
    background: linear-gradient(225deg, rgba(255,98,130,1) 0%, rgba(255,35,35,1) 100%);
    border: 1px solid #ff8686; 
    height: 2rem;
    padding-inline-start: 10px;
    text-align: center;
    align-items: center;
    margin-left: 1rem;
  }
